{% extends 'base_Admin.html.twig' %}

{% block title %}New Participant{% endblock %}

{% block body %}
    <h1>Create new Participant</h1>

    {{ include('admin_participant/_form.html.twig') }}
    </br>
    <a style=" display: inline-block;
  padding: 10px 20px;
  background-color: #4e73df;
  color: white;
  margin-top:15px;
  text-decoration: none;
  border-radius: 5px;" href="{{ path('app_admin_participant_index') }}">back to list</a>

   
</div>
{% endblock %}
