{% extends 'base_Admin.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>Create new User</h1>

    {{ include('admin_dashboard/user/_form.html.twig') }}

    <a style=" display: inline-block;
  padding: 10px 20px;
  background-color: #4e73df;
  color: white;
  text-decoration: none;
  border-radius: 5px;" href="{{ path('app_user_index') }}">back to list</a>
{% endblock %}
