{% extends 'base.html.twig' %}

{% block title %} Hopitallo-Hopitaux{% endblock %} 

 {% block nav %}  
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto py-0">
                        <a href="{{path('app_home')}}" class="nav-item nav-link ">Home</a>
                        <a href="{{path('hopital')}}"  class="nav-item nav-link ">Hopitaux</a>
                      
                        <a href="hopital_urgence.html" class="nav-item nav-link active">Urgence</a>
                   
                        <a href="event.html" class="nav-item nav-link">Evenement</a>
                        <a href="profil.html" class="nav-item nav-link">Profil</a>
                    </div>
                </div>
                {% endblock %}  


{% block body %} 
 <div class="container-fluid pt-5">
        <div class="container">
            <div class="text-center mx-auto mb-5" style="max-width: 500px;">
                <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Any Questions?</h5>
                <h1 class="display-4">Urgence</h1>
            </div>
         
       <br>
       <br>
       <br>
          
       <br>
      <br>
            <div class="row justify-content-center position-relative" style="margin-top: -200px; z-index: 1;">
                <div class="col-lg-8">
                    <div class="bg-white rounded p-5 m-5 mb-0">
                        <h3 style="color:green;">vous recevez une feuille d'urgence sur votre profil </h3>
                        <form>
                            <div class="row g-3">
                             <h1>Hopital ariana</h1>
                                <div class="col-12">
                                    <input type="text" class="form-control bg-light border-0" placeholder="votre Adresse" style="height: 55px;">
                                </div>
                                <div class="col-12">
                                    <textarea class="form-control bg-light border-0" rows="5" placeholder="Cas de l'urgence"></textarea>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit"><a href="">Demande</a></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %} 