  .form-container {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
  }
  h1{
    text-align: center;
  }
  
  .form-header {
    font-size: 36px;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .form-group {
    margin-bottom: 30px;
  }
  
  .label {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
  }
  .error {
    color: red;
}

  
  .inp  {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  
  .btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
  }
  
  .btn:hover {
    background-color: #555;
  }