{% extends 'base_Admin.html.twig' %}

{% block title %}New Hopital{% endblock %}

{% block body %}
<div class="card-header py-3">
 <h6 class="m-0 font-weight-bold text-primary"  style="text-align:center">Ajouter un nouveau hôpital</h6>
</div>
</br>
</br>
    {{ include('hopital/_form.html.twig') }}

    <a style=" display: inline-block;
  padding: 10px 20px;
  background-color: #4e73df;
  color: white;
  margin-top:15px;
  text-decoration: none;
  border-radius: 5px;" href="{{ path('app_hopital_index') }}">Back to list</a>
    </br>
</br>
{% endblock %}