{% extends 'base_Medecin.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
 
 <h1>Edit your profil</h1>
    {{ include('medecin_dashboard/user/_form.html.twig', {'button_label': 'Update'}) }}

  

    <br>
    <br>
    <br>
{% endblock %}
