{% extends 'base.html.twig' %}

{% block title %}New Rdv{% endblock %}

{% block body %}
<center>

    <h1>Create new Rdv</h1>
<center>
    {{ include('rdv/_form.html.twig') }}
</center>
<center>
    <a class="btn btn-outline-primary rounded-pill py-3 px-5" href="{{ path('profil') }}">back to profil</a>
    </center>
    </center>
{% endblock %}
